{% extends 'layout.html.twig' %}

{% block content %}
<h3 style="margin: 0px;">Enter Your Information and Click the Submit Button Below</h3>
{% include('PlayerWanabe/Register/PlayerRegisterForm.html.twig') %}

{% endblock %}
