{# @CeradTeam/Team/Register/TeamRegisterIndex.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
<h3 style="margin: 0px;">Step 1 - Enter Information</h3>
{% include('Team/Register/TeamRegisterForm.html.twig') %}

{% endblock %}
